* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
}

.item{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    margin: 50px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}