@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 200vh;
    background-color: #E5E5E5;
}

header {
    width: 1440px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    margin: 0px auto;
}

.logo-bloc {
    width: 130px;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    width: 1px;
    height: 80px;
    background-color: grey;
}

.header-link-wrap {
    width: 450px;
    height: 80px;
    background-color: transparent;
    margin-left: 14px;
    display: flex;
}

.border-2 {
    width: 1px;
    height: 80px;
    background-color: grey;
    margin-left: 20px;
}

.wi-fi {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wi-fi {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 18px;
}

.under-wi-fi {
    width: 34px;
    height: 11px;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #0275B1;
    margin-top: 14px;
}

.block-network {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.network-img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 21px;
}

.text-under-users {
    width: 66px;
    height: 11px;
    background-color: transparent;
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.bloc-case {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 21px;
}

.text-nder-case {
    width: 34px;
    height: 11px;
    background-color: transparent;
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.mesage-bloc {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 21px;
}

.text-under-message {
    width: 35px;
    height: 11px;
    background-color: transparent;
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.bell-bloc {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bell-img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 21px;
}

.text-under-bell {
    width: 56px;
    height: 11px;
    background-color: transparent;
    margin-top: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.header-search-wrap {
    width: 367px;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.border-3 {
    width: 1px;
    height: 80px;
    background-color: grey;
}

.img-search {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-left: 30px;
}

.text-search {
    width: 54px;
    height: 15px;
    background-color: transparent;
    margin-left: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    color: #CECECE;
}

.header-user-wrap {
    width: 330px;
    height: 80px;
    background-color: transparent;
    display: flex;
}

.border-4 {
    width: 1px;
    height: 80px;
    background-color: grey;
}

.left-user {
    width: 72px;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-user {
    width: 258px;
    height: 80px;
    background-color: transparent;
}

.dima-img {
    width: 42px;
    height: 42px;
    background-color: transparent;
}

.top-text-user {
    width: 79px;
    height: 11px;
    background-color: transparent;
    margin-top: 24px;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.bottom-text-user {
    width: 97px;
    height: 11px;
    background-color: transparent;
    margin-top: 11px;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #747474;
}

.header-other-btn {
    width: 90px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-5 {
    width: 1px;
    height: 80px;
    background-color: grey;
}

.full-stops {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-top: 18px;
}

.text-under-full-stop {
    width: 44px;
    height: 11px;
    background-color: transparent;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.wrapper {
    width: 1440px;
    background-color: #F7F9FB;
    margin: 0px auto;
    display: flex;
    height: fit-content;
}

.left-bloc {
    width: 854px;
    height: fit-content;
    background-color: #F7F9FB;
    margin-left: 130px;
}

.right-bloc {
    width: 300px;
    height: fit-content;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.new-post {
    width: 854px;
    height: 135px;
    background-color: #FFFFFF;
    margin-top: 40px;
    padding: 20px;
}

.soft-by {
    width: 854px;
    height: 80px;
    background-color: red;
}

.terasa {
    width: 854px;
    height: fit-content;
    background-color: transparent;
}

.kyle-fisher {
    width: 854px;
    height: fit-content;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.brandon-wison {
    width: 854px;
    height: 402px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.Audrey {
    width: 854px;
    height: fit-content;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 70px;
}

.dmitriy-kargaev {
    width: 300px;
    height: 280px;
    background-color: darkorange;
    margin-top: 40px;
}

.btn-new-article {
    width: 300px;
    height: 75px;
    background-color: pink;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-group {
    width: 300px;
    height: 400px;
    background-color: #FCFDFD;
    margin-top: 20px;
    padding: 30px;
}

.hashtages {
    width: 300px;
    height: fit-content;
    background-color: #FCFDFD;
    margin-top: 20px;
    padding: 30px;
}

.trending-articles {
    width: 300px;
    height: fit-content;
    background-color: #FCFDFD;
    margin-top: 20px;
    padding: 30px;
}

footer {
    width: 1440px;
    height: 215px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.text-new-post {
    width: 69px;
    height: 11px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.what-in-your-mind {
    width: 782px;
    height: 17px;
    background-color: transparent;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.text-in-your-mind {
    width: 196px;
    height: 17px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 18px;
    line-height: 17px;
    color: rgba(24, 24, 24, 0.2);
}

.app-bloc {
    width: 170px;
    height: 24px;
    background-color: transparent;
    display: flex;
}

.app-1 {
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.app-2 {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-left: 25px;
}

.app-3 {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-left: 25px;
}

.app-4 {
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-left: 25px;
}

.terasa-header {
    height: 45px;
    width: 854px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-in-teresa {
    width: 295px;
    height: 15px;
    background-color: transparent;
    margin-left: 15px;
    font-family: Gotham Pro;
    font-size: 10px;
    line-height: 150%;
    color: #0275B1;
}

.full-stops-teresa {
    width: 15px;
    height: 15px;
    background-color: transparent;
    margin-right: 15px;
}

.teresa-stevard {
    width: 854px;
    height: 240px;
    background-color: transparent;
}

.row-1-teresa {
    height: 82px;
    width: 854px;
    background-color: darkgreen;
    padding: 20px;
}

.row-2-teresa {
    width: 854px;
    height: 63px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    padding-left: 30px;
    padding-right: 30px;
}

.row-3-teresa {
    height: 46px;
    width: 854px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.row-4-teresa {
    width: 854px;
    height: 49px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.btn-teresa {
    width: 77px;
    height: 11px;
    background-color: transparent;
    margin-left: 30px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #0275B1;
}

.likes-chat {
    width: 188px;
    height: 49px;
    background-color: transparent;
    display: flex;
}

.share {
    width: 126px;
    height: 49px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes-teresa {
    width: 98px;
    height: 49px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-6 {
    width: 2px;
    height: 49px;
    background-color: grey;
}

.chat-teresa {
    width: 90px;
    height: 49px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-7 {
    width: 2px;
    height: 49px;
    background-color: grey;
}

.habds-teresa {
    width: 38px;
    height: 16px;
    background-color: transparent;
}

.img-hand {
    width: 16px;
    height: 16px;
    background-color: transparent;
    display: flex;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    align-items: center;
}

.p1 {
    margin-left: 4px;
}

.message-teresa {
    width: 30px;
    height: 16px;
    background-color: transparent;
}

.img-mesege {
    width: 16px;
    height: 16px;
    background-color: transparent;
    display: flex;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    align-items: center;
}

.spread {
    height: 16px;
    width: 66px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.img-share {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.text-share {
    width: 43px;
    height: 11px;
    background-color: transparent;
    margin-left: 4px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.btn-1 {
    width: 230px;
    height: 32px;
    background-color: #086EA4;
    border-radius: 4px;
    border: none;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-my-group {
    width: 240px;
    height: 56px;
    background-color: #FCFDFD;
    display: flex;
    align-items: center;
}

.top-text-grouop {
    height: 11px;
    width: 240px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.left-text {
    width: 76px;
    height: 11px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.right-text {
    width: 60px;
    height: 11px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-align: right;
    text-transform: uppercase;
    color: #0275B1;
}

.moscow-state {
    width: 241px;
    height: 80px;
    background-color: #FFFFFF;
    margin-top: 20px;
    display: flex;
}

.left-moscow {
    width: 72px;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-text-moscow {
    width: 169px;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-moscow {
    width: 52px;
    height: 52px;
    background-color: transparent;
}

.text-moscow {
    width: 99px;
    height: 54px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    color: #181818;
}

.top-hashtages {
    height: 56px;
    width: 240px;
    background-color: #FCFDFD;
    display: flex;
    align-items: center;
}

.text-hashtages {
    width: 145px;
    height: 11px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.heshteg-1 {
    width: 64px;
    height: 32px;
    background-color: #E8F0F8;
    margin-top: 20px;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heshteg-2 {
    width: 84px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
}

.heshteg-3 {
    width: 45px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-trending {
    width: 240px;
    height: 56px;
    background-color: #FCFDFD;
    display: flex;
    align-items: center;
}

.text-trending {
    width: 132px;
    height: 11px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
}

.bloc-under-trending {
    width: 240px;
    height: 52px;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
}

.picture-trending {
    width: 85px;
    height: 52px;
    background-color: transparent;
}

.picure-sam {
    width: 80px;
    height: 52px;
    background-color: transparent;
    /* margin-left: 5px; */
}

.text-near-trendimg {
    width: 155px;
    height: 52px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-1-trending {
    width: 97px;
    height: 36px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 14px;
    line-height: 125%;
    /* or 17px */
    color: #181818;
}

.row-2-trending {
    width: 70px;
    height: 15px;
    background-color: transparent;
    font-family: Gotham Pro;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */
    color: #181818;
}

.row-2-heshteg {
    width: 190px;
    height: 32px;
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.row-1-heshtages {
    display: flex;
}

.heshteg-4 {
    width: 110px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heshteg-5 {
    width: 70px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-3-heshtagess {
    width: 180px;
    height: 32px;
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.heshtag-6 {
    width: 123px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
}

.heshtag-7 {
    width: 47px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
}

.row-4-heshtages {
    height: 32px;
    width: 140px;
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.heshtag-8 {
    width: 43px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
}

.heshtag-9 {
    width: 87px;
    height: 32px;
    background-color: #E8F0F8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham Pro;
    font-size: 12px;
    line-height: 150%;
    color: #181818;
}

.trending-change {
    width: 132px;
    height: 36px;
}

.trending-change-2 {
    width: 114px;
    height: 36px;
}

.container-footer {
    width: 1181px;
    height: 215px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
}

.logo-footer {
    width: 130px;
    height: 215px;
    background-color: transparent;
}

.emails-footer {
    width: 550px;
    height: 215px;
    background-color: darkcyan;
}

.fast-acces-footer {
    width: 230px;
    height: 215px;
    background-color: darkmagenta;
}

.language-footer {
    width: 270px;
    height: 215px;
    background-color: darkred;
}

.logo-sam {
    width: 46px;
    height: 46px;
    background-color: transparent;
    margin-top: 30px;
}

.under-logo-footer {
    width: 61px;
    height: 21px;
    background-color: transparent;
    margin-top: 12px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #181818;
}