* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

/* header {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left, .right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: royalblue;
    border: none;
    border-radius: 14px;
    color: white;
}    */

/* /----------------------------------------------------/ */
/* 
.main {
    width: 400px;
    height: 600px;
    background-color: #c4c4c4;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: block;
}

.text {
    font-size: 14px;
    color: grey;
    font-weight: 300;
    display: block;
}

.rate {
    width: 100%;
    height: 6px;
    border-radius: 14px;
    background-color: grey;
    overflow: hidden;
    margin-top: 15px;
}

.fill {
    width: 37%;
    height: 6px;
    background-color: violet;
}

.addition {
    font-size: 18px;
    display: block;
}

.btn {
    width: 200px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 14px;
    margin-top: 100px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
} */

/* /-----------------------------------/ */

.container {
    width: 85%;
    height: 800px;
    background-color: transparent;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.items {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 14px;
    padding: 20px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.rate {
    width: 100%;
    height: 6px;
    border-radius: 14px;
    background-color: grey;
    overflow: hidden;
    margin-top: 15px;
}

.fill {
    width: 37%;
    height: 6px;
    background-color: violet;
}

.days {
    font-size: 14px;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}

.time {
    font-size: 14px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.btn {
    width: 150px;
    height: 30px;
    border: 2px solid blue;
    background-color: transparent;
    border-radius: 14px;
    margin-top: 50px;
    font-size: 12px;
}

.id {
    font-size: 14px;
    font-weight: 300;
    color: lime;
    display: block;
    margin-bottom: 20px;
}