.item {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: -10px 10px 0px 0px darkred;
    transition: 400ms;
}

.item:hover {
    box-shadow: 0 0 0px 0px darkred;
    border: none;
    background-color: white;
}

body {
    background-color: brown;
}